In [7]:
# Data Manupulation
import numpy as np
import pandas as pd
# Plotting graphs
import matplotlib.pyplot as plt
import seaborn as sns
from sklearn import metrics

# CSV File - Read
# Making a list of missing value types
missing_values = ["n/a", "na", "--","-"]
df = pd.read_csv('C:\\Users\\srinivas yadav\\Desktop\\online class\\realestate.csv',na_values = missing_values)
#  ,header=None ,skiprows=1 , names=['Cal', 'Pr', 'Fat', 'sod', 'Fib', 'Rting']

print(df.head(5))

       Suburb             Address  Rooms Type      Price Method SellerG  \
0  Abbotsford       68 Studley St    2.0    h        NaN     SS  Jellis
1  Abbotsford        85 Turner St    2.0    h  1480000.0      S  Biggin
2  Abbotsford     25 Bloomburg St    2.0    h  1035000.0      S  Biggin
3  Abbotsford  18/659 Victoria St    3.0    u        NaN     VB  Rounds
4  Abbotsford        5 Charles St    3.0    h  1465000.0     SP  Biggin

        Date  Distance  Postcode  Bedroom2  Bathroom  Car  Landsize  \
0  3/09/2016       2.5    3067.0       2.0       1.0  1.0     126.0
1  3/12/2016       2.5    3067.0       2.0       1.0  1.0     202.0
2  4/02/2016       2.5    3067.0       2.0       1.0  0.0     156.0
3  4/02/2016       2.5    3067.0       3.0       2.0  1.0       0.0
4  4/03/2017       2.5    3067.0       3.0       2.0  0.0     134.0

   BuildingArea  YearBuilt CouncilArea Lattitude Longtitude
0           NaN        NaN       Yarra  -37.8014   144.9958
1           NaN        NaN       Yarra  -37.7996   144.9984
2          79.0     1900.0       Yarra  -37.8079   144.9934
3           NaN        NaN       Yarra  -37.8114   145.0116
4         150.0     1900.0       Yarra  -37.8093   144.9944

In [55]:
df.isnull().sum()

Suburb             0
Address           14
Rooms              0
Type               0
Price              0
Method             0
SellerG            0
Date              24
Distance          24
Postcode          24
Bedroom2        3044
Bathroom        3044
Car             3044
Landsize        3061
BuildingArea    8078
YearBuilt       7147
CouncilArea     3063
Lattitude       2940
Longtitude      2939
dtype: int64

In [6]:
df["Suburb"].value_counts().idxmax()

'Reservoir'

In [9]:
df["Suburb"][df["Suburb"].isnull()] = "Reservoir"

D:\Users\srinivas yadav\Anaconda3\lib\site-packages\ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """Entry point for launching an IPython kernel.

In [15]:
df.groupby(df["Type"])["Rooms"].median()

Type
h    3.0
t    3.0
u    2.0
Name: Rooms, dtype: float64

In [22]:
pd.crosstab(df["Rooms"].isnull(), df["Type"])

Type      h     t     u
Rooms
False  9080  1574  3568

we are not seeing true wen we do crosstab for Type and Room as both values are Null in the corresponding rows.

In [24]:
from collections import Counter
Counter(df["Rooms"])

Counter({2.0: 4197,
         3.0: 5800,
         4.0: 2707,
         1.0: 801,
         5.0: 629,
         6.0: 60,
         7.0: 10,
         8.0: 11,
         nan: 1,
         nan: 1,
         10.0: 3,
         nan: 1,
         nan: 1,
         9.0: 2,
         nan: 1,
         nan: 1,
         nan: 1,
         nan: 1,
         nan: 1,
         nan: 1,
         nan: 1,
         nan: 1,
         nan: 1,
         nan: 1,
         nan: 1,
         nan: 1,
         nan: 1,
         nan: 1,
         12.0: 2,
         nan: 1,
         nan: 1,
         nan: 1,
         nan: 1,
         nan: 1,
         nan: 1})

In [25]:
df["Rooms"][df["Rooms"].isnull()] = 3

D:\Users\srinivas yadav\Anaconda3\lib\site-packages\ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """Entry point for launching an IPython kernel.

In [27]:
from collections import Counter
Counter(df["Type"])

Counter({'h': 9080, 'u': 3568, 't': 1574, nan: 24})

In [28]:
df["Type"][df["Type"].isnull()] = 'h'

D:\Users\srinivas yadav\Anaconda3\lib\site-packages\ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """Entry point for launching an IPython kernel.

In [30]:
df.groupby(df["Rooms"])["Price"].median()

Rooms
1.0      388250.0
2.0      670000.0
3.0      965000.0
4.0     1385000.0
5.0     1807500.0
6.0     1900000.0
7.0     1252500.0
8.0     2065000.0
9.0     1380000.0
10.0    2380000.0
12.0    4700000.0
Name: Price, dtype: float64

In [31]:
pd.crosstab(df["Price"].isnull(),df["Rooms"])

Rooms  1.0   2.0   3.0   4.0   5.0   6.0   7.0   8.0   9.0   10.0  12.0
Price
False   646  3417  4573  1945   430    40     6     8     1     2     1
True    155   780  1251   762   199    20     4     3     1     1     1

In [32]:
df["Price"][df["Price"].isnull()] = 965000.0

D:\Users\srinivas yadav\Anaconda3\lib\site-packages\ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """Entry point for launching an IPython kernel.

In [42]:
df["Method"].unique()
df["Method"].value_counts()

S     8430
SP    2013
PI    1883
VB    1098
SN     587
PN     121
W       51
SA      51
SS      12
Name: Method, dtype: int64

In [40]:
df["Method"][df["Method"].isnull()]='S'

D:\Users\srinivas yadav\Anaconda3\lib\site-packages\ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """Entry point for launching an IPython kernel.

In [53]:
y=df["SellerG"].value_counts()
from collections import Counter
x = Counter(df["SellerG"])
y.idxmax()

'Nelson'

In [54]:
df["SellerG"][df["SellerG"].isnull()] = 'Nelson'

D:\Users\srinivas yadav\Anaconda3\lib\site-packages\ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """Entry point for launching an IPython kernel.

In [62]:
df.drop(["Date"],axis=1,inplace = True)

In [66]:
df["Distance"].value_counts().idxmax()
df["Distance"][df["Distance"].isnull()] = 11.2

D:\Users\srinivas yadav\Anaconda3\lib\site-packages\ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

In [73]:
df.groupby(df["Type"])["Bedroom2"].median()

Type
h    3.0
t    3.0
u    2.0
Name: Bedroom2, dtype: float64

In [72]:
pd.crosstab(df["Bedroom2"].isnull(),df["Type"])

Type         h    t     u
Bedroom2
False     7462  956  2784
True      1642  618   784

In [75]:
df["Bedroom2"][df["Bedroom2"].isnull()] = 3.0

D:\Users\srinivas yadav\Anaconda3\lib\site-packages\ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """Entry point for launching an IPython kernel.

In [76]:
df.groupby(df["Bedroom2"])["Bathroom"].median()

Bedroom2
0.0      1.0
1.0      1.0
2.0      1.0
3.0      1.0
4.0      2.0
5.0      3.0
6.0      3.0
7.0      3.0
8.0      3.0
9.0      6.5
20.0     1.0
30.0    12.0
Name: Bathroom, dtype: float64

In [77]:
pd.crosstab(df["Bathroom"].isnull(),df["Bedroom2"])

Bedroom2,0.0,1.0,2.0,3.0,4.0,5.0,6.0,7.0,8.0,9.0,20.0,30.0
Bathroom,,,,,,,,,,,,
False,13,667,3490,4593,1930,448,42,8,5,4,1,1
True,0,0,0,3044,0,0,0,0,0,0,0,0

In [78]:
df["Bathroom"][df["Bathroom"].isnull()] = 1.0

D:\Users\srinivas yadav\Anaconda3\lib\site-packages\ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """Entry point for launching an IPython kernel.

In [80]:
df["Landsize"] = df["Landsize"].replace(0,np.nan)

650.0      69
697.0      42
696.0      39
585.0      38
700.0      36
590.0      30
217.0      29
215.0      27
604.0      26
597.0      26
176.0      26
586.0      25
605.0      25
780.0      24
557.0      24
225.0      23
649.0      23
654.0      23
596.0      23
705.0      22
534.0      22
230.0      22
211.0      21
250.0      21
581.0      21
610.0      21
151.0      21
695.0      21
620.0      21
613.0      21
           ..
2310.0      1
1155.0      1
3967.0      1
2135.0      1
1972.0      1
1781.0      1
880.0       1
1090.0      1
1255.0      1
1085.0      1
1056.0      1
43.0        1
1286.0      1
47.0        1
1585.0      1
21700.0     1
1258.0      1
5042.0      1
2120.0      1
874.0       1
8680.0      1
1175.0      1
1138.0      1
1466.0      1
1581.0      1
1725.0      1
1127.0      1
21715.0     1
1622.0      1
8220.0      1
Name: Landsize, Length: 1324, dtype: int64